@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

@import "https://unpkg.com/transition-style";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;


}

.hero-side-img {
    display: none;
}


.page-width {
    max-width: 1920px;
    margin: auto;

}

.navbar .main-logo {
    width: 232px;
    height: 60px;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.hide-scroll::-webkit-scrollbar {
    display: none;
}


.side-padding {
    padding-left: 100px;
    padding-right: 100px;

}







.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding-top: 25px;
    padding-bottom: 25px;

    width: 100%;
    background-color: transparent;
    /* Transparent black background */

    height: max-content;



}

.get-consult {
    display: flex;
    padding: 14px 35px;
    text-decoration: none;
    flex-direction: row;
    align-items: center;

    color: #fff;
    background-color: #035AA6;
    /* border: 1px solid #D1B06B; */

    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}





.burger-btn {
    width: 2.5rem;
    cursor: pointer;
}

.menu {
    transition: .3s ease-in-out;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    height: 0;
    padding: 1rem;
    background-color: #FFF;

}

.menu ul {
    list-style: none;
    padding-left: 20px;



}

.menu ul li {
    padding: 1px;
}

ul li a {
    text-decoration: none;
    /* padding: 1rem; */
    color: var(--dark-gray, #7F7F7F);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu ul li a {

    cursor: pointer;

    width: 100%;
    text-decoration: none;
}


.navbar .nav-list {

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;

    cursor: pointer;
}


@media (min-width: 800px) {
    .burger-btn {
        display: none;
    }

    .menu {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 1rem;

    }


}



header li a:hover {
    color: #035AA6 !important;
}


header li {
    position: relative;
}



.nav-list a::after {
    content: "";
    position: absolute;
    display: block;
    top: 1.8rem;
    width: 6px;
    height: 6px;

    background-color: transparent;
    /* border-radius: 50%; */
    right: 50%;
    transform: translate(50%);
    transition: all 0.3s ease-in-out;
}

.active-nav {
    color: #035AA6 !important;


}

.active-nav::after {
    background-color: #035AA6 !important;
}


/* =====================================================================home section starts here=========================== */



.ractangle-1 {
    position: absolute;
    left: -80px;
    top: -120px;
    width: 160px;
}


.hero-main .swiper-slide-next {
    scale: 0.8;
}



.hero-main .swiper {
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}

.hero-main .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;


}

.hero-main .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.hero-main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: url(../imgs//Group\ 1000000000000.png   );
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    padding-top: 150px;
    padding-bottom: 140px;
    padding-left: 180px;
    /* padding-right: 60px; */
    align-items: center;
    /* height: 80vh; */
    position: relative;
    justify-content: space-between;
}


.hero-main .hero-main-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 65%;
}


.hero-main .get-consult-home {

    padding: 14px 35px;
    text-decoration: none;
    max-width: 195px;
    align-items: center;

    color: #035AA6;
    background-color: #fff;
    /* border: 1px solid #D1B06B; */

    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.white-line {
    width: 60px;
}

.hero-main h4 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-main h1 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    /* 116.279% */
}

.hero-main p {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-main .hero-main-text p {
    padding-top: 1px;
}

.hero-main .hero-main-text a {
    margin-top: 30px;
}



/* 
.hero-main .hero-main-photo{
    flex-basis: 50%;
    dip
} */

.hero-main .side-img-hero {
    width: 371px;
    height: 520px;
}


/* =====================================================features section starts here=============================--================== */

.features-main-box {
    padding-top: 50px;
    overflow: auto;
    padding-bottom: 50px;

    /* overflow: auto; */
}







.features-main-box .features-child-box {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.features-main-box h4 {
    color: var(--primery, #035AA6);
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.features-main-box p {
    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features-main-box .featur-box {
    max-width: 385px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
}

.features-main-box .featur-box img {
    width: 350px;
}

/* ==================================================================================about-section starts here-=============================== */


.about-main-box {
    background: url(../imgs/about-home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 60vh; */
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-bottom: 100px;

}


.about-main-box .about-text-box {
    display: flex;
    flex-direction: row;
    gap: 65px;

    /* padding-left: 35px; */
    padding-top: 35px;
    padding-bottom: 50px;
    /* max-width: 725px; */
    align-items: center;
    justify-content: center;
}


.about-main-box .about-text-box .left-about-text-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.about-main-box .about-text-box a {
    padding: 14px 35px;
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #035AA6;
    border: none;
    margin-top: 20px;
    max-width: 207px;
    text-decoration: none;
}

.about-main-box .about-text-box .play-btn {


    translate: 70px 10px;
}



.about-main-box .about-text-box p {
    margin-top: 20px;

    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */


}


.about-main-box .about-text-box .blue-line-dot {
    width: 113px;
}

.about-main-box .about-text-box h3 {


    color: var(--primery, #035AA6);
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.about-main-box .about-text-box h2 {
    color: var(--primery, #035AA6);
    font-family: 'Outfit', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}












/* ======================================holo-home-section started==================================================== */

.hologram-main {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 100px;

}

.right-holo-img {
    position: relative;
}


.hologram-main .holo-main-img {
    width: 900px;
    height: auto;
}


.left-holo-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-holo-info h4 {
    color: var(--black, #333);
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 15px;
}

.left-holo-info .holo-first,
.holo-second,
.holo-third {

    padding: 20px;
    border: 1px solid #EEE;
}


.left-holo-info p {
    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 25px;
    /* 105.556% */
}

.left-holo-info a {
    color: var(--primery, #035AA6);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 12px 35px;
    width: 100%;
    border: 1px solid var(--primery, #035AA6);
    background: var(--white, #FFF);

}


.left-holo-info .bg-blue {
    background-color: #035AA6 !important;
    color: #FFF !important;

}

.view-more-btn {
    position: absolute;
    right: 0;
    bottom: 14px;
    padding: 40px 40px;

    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: var(--primery, #035AA6);
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    background-color: #FFF;
    font-weight: 600;
    line-height: normal;
}







/* ======================================holo-home-section end==================================================== */

/* ========================================================================quality-section starts here=========================================== */

.services-main {
    margin-top: 60px;
    margin-bottom: 130px;
    background: #F4F4F4;
    width: 100%;
    display: flex;
    flex-direction: row;

}


.services-child-left h5 {
    color: var(--primery, #035AA6);

    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.services-child-left h2 {
    color: var(--primery, #035AA6);

    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.services-child-left {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.services-child-left a {
    background-color: #035AA6;
    padding: 12px 35px;
    text-decoration: none;
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 210px;
}

.services-child-left p {
    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 25px;
}

.services-boxes {
    display: flex;
    flex-direction: row;
    gap: 35px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 60%;

}














.service-box {
    max-width: 340px;
    background-color: #FFF;
    padding: 27px 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;

}

.service-box a {
    text-decoration: none;
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 10px;
    text-align: center;

    color: var(--primery, #035AA6);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    /* 105.556% */
}

.service-box h5 {
    padding-top: 10px;
    color: #035AA6;
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.service-box p {
    padding-bottom: 5px;
    color: var(--dark-gray, #7F7F7F);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    /* 105.556% */
}

/* ================================================================contact-lable section================================ */


.left-contact-lable {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
    background: rgba(246, 251, 255, 0.80);
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.05);
    padding: 40px 25px;


}

.left-contact-lable p {
    padding-bottom: 15px;
    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.left-contact-lable h3 {
    color: var(--primery, #035AA6);
    font-family: 'Outfit', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-contact-lable a {
    text-decoration: none;
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #035AA6;
    padding: 12px 35px;
    width: 210px;
}

.contact-main-lable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 100px 0; */
    margin-top: 100px;
    margin-bottom: 100px;
}


.contact-main-lable img {
    flex-basis: 50%;
    width: 670px;
    height: auto;
}

/* =====================================================================contact-lable end here=================================================== */

/* ============================================================contact-form page section starts here======================================= */

.contact-main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;

}


.contact-main-form .contact-main-child {
    display: flex;
    flex-direction: row;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
    padding: 20px;
}

.contact-main-form h2 {
    color: var(--primery, #035AA6);
    font-family: 'Outfit', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.left-blue-box {
    background-color: #035AA6;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;

}

.left-blue-box h5 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.left-blue-box p {
    color: #C9C9C9;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}








.contact-info-1 {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.contact-main-form a {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: flex;
    gap: 14px;
    align-items: center;
}


.social-hendles {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.social-hendles img {
    margin-bottom: -25px;
}


.right-contact-form {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.left-blue-box .eclips {
    position: absolute;
    right: -35px;
    bottom: -90px;
}








.box {

    /* padding: 20px; */
    padding-top: 40px;
    padding-left: 10px;
    margin: 0 auto;
    position: relative;
}


.box img {
    position: absolute;
    right: 76px;
    bottom: -80px;
}

.row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    padding-top: 20px;
}

.input {
    /* width: 370px; */
    padding: 15px 20px;
    border: 1px solid #E0F1FF;
    background: #FFF;
    color: #8D8D8D;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.message-box {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #E0F1FF;
    background: #FFF;
    color: #8D8D8D;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* border-radius: 50%; */
    padding-top: 10px;
}

.checkbox-input {
    margin-right: 5px;
}

.submit-button {
    border-radius: 5px;
    background: var(--primery, #035AA6);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
    margin-top: 30px;
    color: white;
    padding: 15px 48px;
    border: none;
    margin-left: 12px;

    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.row-second {
    padding-left: 12px;
}

.row-second h5 {
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkbox-label {
    color: #8D8D8D;
    font-family: 'Outfit', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



















/* ==============================================contact-form page section ends here========================================= */


.mission-vission {
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin-bottom: 100px;
}

.mission-vission h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--secondary, #010A1A);
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mission-vission p {
    color: var(--darkgray, #7F7F7F);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mission-vission .mission-section {
    background: #EFFAFF;
    padding: 35px 30px;
}



.mission-vission .vission-section {
    background: #EFFAFF;
    padding: 35px 30px;
}





















/* ================================================================product section starts here====================================== */


.product-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-main h4 {
    color: var(--primery, #035AA6);

    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-main h3 {
    color: var(--primery, #035AA6);

    font-family: 'Outfit', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 15px;
}





.product-main p {
    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.product-main a {
    color: var(--primery, #035AA6);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    /* 105.556% */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 12px;
}

.product-main .product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.product-main .product {
    background-color: #FFF;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.05));
    max-width: 595px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.product-main .product img {
    width: 165px;
}






.product-main .product-sec-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}


.product-sec-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.product-sec-2 h5 {
    color: var(--black, #333);
    font-family: 'Outfit', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product-sec-2 .product-details {
    padding-top: 20px;
}

.product-sec-2 img {
    width: 540px;
    height: auto;
}




















/* 
.product-main-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 70px;
}



.product-main-box .product-head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 619px;
    margin: auto;

}


.product-main-box .product-head-text h4 {
    color: var(--primery, #035AA6);
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-main-box .product-head-text h2 {
    color: var(--primery, #035AA6);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.product-main-box .product-head-text img {
    width: 113px;

}


.product-main-box .product-boxes .product-detail {
    padding: 20px;
}

.product-main-box .product-boxes .product-detail .side-abs {
    width: 272px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-main-box .product-boxes .product-detail ul {
    padding-left: 25px;
}

.product-main-box .product-boxes {
    overflow: auto;
    flex-wrap: wrap;
}

.product-main-box .product-boxes-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}



.product-boxes .product-box h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #035AA6;
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.product-boxes .product-box h3 img {
    width: 50px;
}

.product-boxes .product-box img {
    width: 385px;
}



.product-boxes .product-box .product-detail {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.product-boxes .product-box .product-detail ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-boxes .product-box .product-detail ul li {

    font-family: 'Outfit', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: style type circle;
    color: #035AA6;

}

.product-boxes .product-box .product-detail ul li p {
    color: var(--dark-gray, #7F7F7F);
}

.product-boxes .product-box .product-detail a {
    color: #035AA6;
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
} */

/* ============================================================contact-section starts here===================================================== */

.contact-us-main {
    /* padding-top: 100px; */
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-us-main .head-text h3 {
    color: var(--primery, #035AA6);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact-us-main .contact-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}

.contact-us-main .contact-box img {
    width: 600px;
}




.contact-us-main .contact-box .contact-forms-1 {
    flex-basis: 50%;
}

.contact-us-main .contact-box .contact-form input {
    padding: 22px 32px;

    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





.contact-us-main .contact-box .contact-form textarea {
    padding: 22px 32px;
    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.contact-us-main .contact-box .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.contact-form {
    /* width: 687px; */
    /* height: 630px; */
    margin: 0 auto;
    padding: 20px 0;


}

/* Style for form fields */
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    border: none;

    width: 100%;
}

.contact-form button {
    width: auto;
    max-width: 150px;
    padding: 14px 28px;
    background-color: #035AA6;

    border: none;
    cursor: pointer;
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

/* ===================================================subscribe box css starts here====================================== */



.middle-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}



.subscribe-box {

    background-color: #FFF;
    translate: 0 -122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 65px;
    /* gap: 14rem; */
    width: 1215px;
    flex-direction: row;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.10);

}

.subscribe-box .subs-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.subscribe-box .subs-text h2 {
    color: var(--primery, #035AA6);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subscribe-box .subs-text p {
    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.subscribe-box .input-box input {
    width: 290px;
    height: 3rem;
    padding: 0 1rem;
    background-color: #F6F8FA;

    border: none;

    color: black;
    outline: none;
    transition: all .3s ease;

}

.subscribe-box .input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribe-box .input-box button {
    padding: 14px 35px;
    text-align: center;


    text-transform: uppercase;
    border: none;
    background-color: #035AA6;
    display: flex;
    justify-content: center;
    color: var(--white, #FFF);

    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ===================================================================footer================================================ */

footer {
    background: var(--black, #333);
    position: relative;
    padding-top: 60px;
}


footer .middle-footer {
    display: flex;
    flex-direction: row;
    gap: 75px;
    padding-bottom: 30px;

}

footer .middle-footer .footer-logo {

    width: 162px;
    height: 115px;
}

footer .middle-footer h4 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 2px solid #fff;
    width: 133px;
}

footer .middle-footer li {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .middle-footer li a {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .middle-footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-top: 20px;
}


footer .bottom-footer {
    border-top: 1px solid#606060;
    padding-top: 15px;
    padding-bottom: 35px;
    text-align: center;
}








footer .bottom-footer p {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





/* =====================================================================head-lable-section starts here------------------------- */



.main-lable {
    background: url(../imgs/Group\ 200000000000000000000.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.main-lable .inner-lable {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-lable h1 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 86px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    /* 116.279% */
    margin-left: -75px;
}

.main-lable .white-line-2 {
    width: 100px;
}


/* =============================================================testimonial section start here==================================== */


.caraousal-box {
    display: flex;
    padding-top: 20px;
    padding-bottom: 70px;
    overflow: hidden;
    text-align: center;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}


.caraousal-box h5 {
    color: var(--primery, #035AA6);
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.caraousal-box h4 {
    color: var(--primery, #035AA6);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.caraousal-box p {
    color: var(--dark-gray, #7F7F7F);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper-container {
    width: 100%;
    padding-top: 60px;
    /* height: 300px; */

    /* margin: 20px auto; */
}

@media (min-width: 400px) {

    .swiper-container {
        min-width: 400px;

    }

}




.swiper-slide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 24px;
    position: relative;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFF;
    font-weight: bold;


    transition: transform 0.3s ease;
    padding: 1rem;
}

.swiper-slide .about-first-line {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
}

.swiper-slide .about-first-line img {
    width: 65px;
}

.swiper-slide .about-first-line .comma {
    position: absolute;
    top: 20px;
    right: 20px;
}

.swiper-slide .about-first-line h3 {
    color: var(--primery, #035AA6);

    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.swiper-slide .about-first-line span {
    color: var(--primery, #035AA6);

    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.swiper-slide p {
    color: var(--dark-gray, #7F7F7F);
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
    text-transform: capitalize;
}


/* .yellow-slide {
    background-color: yellow;
  }
  
  .green-slide {
    background-color: green;
  }
  
  .red-slide {
    background-color: red;
  } */


.swiper-slide-active.yellow-slide,
.swiper-slide-active.green-slide,
.swiper-slide-active.red-slide {
    transform: scale(1.5);
    z-index: 1;
}

.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(0.8);
    z-index: 0;
}




/* ============================================================responsive work css starts here============================================== */


@media only screen and (max-width: 1250px) {

    .ractangle-1 {
        position: absolute;
        left: -80px;
        top: -120px;
        width: 135px;
    }

    .features-main-box .featur-box {
        max-width: 352px;
    }

    .hero-main h4 {
        font-size: 20px;
    }

    .hero-main h1 {
        font-size: 46px;
        line-height: 60px;
    }

    .hero-main .hero-main-text p {
        font-size: 17px;
    }


    .hero-main .side-img-hero {
        width: 381px;
        height: auto;
    }

    .hero-main {
        padding-left: 145x;
    }


    .hologram-main .holo-main-img {
        width: 805px;
        height: auto;
    }

    .left-holo-info .holo-first,
    .holo-second,
    .holo-third {
        padding: 15px;
    }

    .view-more-btn {
        bottom: 74px;
    }

    .hologram-main {
        align-items: center;
    }

    .services-boxes {
        justify-content: center;
    }

    .services-main {
        flex-direction: column;
    }

    .services-child-left {
        align-items: center;
        margin-bottom: 20px;
    }


    .side-padding {
        padding-left: 60px;
        padding-right: 60px;

    }


    .hero-main .hero-main-text p {
        padding-top: 2px;
        gap: 8px;
    }

    .features-main-box {
        overflow: auto;
        justify-content: center;
        flex-direction: row;

    }

    .quality-main-box {
        flex-direction: row;
        overflow: auto;
        justify-content: center;
    }

    .product-main-box .product-boxes {
        justify-content: center;
        flex-direction: row;
        overflow: auto;
        flex-wrap: nowrap;
    }



    footer .middle-footer {
        flex-wrap: wrap;
    }


    .contact-us-main .contact-box {
        flex-wrap: wrap;
        justify-content: center;
    }



    .contact-us-main .contact-box .contact-forms-1 {
        flex-basis: 100%;
    }



}



@media only screen and (max-width: 799px) {
    .navbar .nav-list {
        display: none;
    }

    .menu {
        padding: 0;
    }

    .get-consult {
        display: none;
    }

    .burger-btn {
        margin-left: 330px;
        width: 30px;
    }





    .side-padding {
        padding-left: 15px;
        padding-right: 15px;

    }

    .hero-main {
        padding-left: 90px;
    }

    .about-main-box .about-text-box .play-btn {
        translate: 0px 10px;
    }

    .caraousal-box>p {
        padding: 14px;
    }

    .left-holo-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 31px;
    }

    .about-main-box .about-text-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-main-box .about-text-box .left-about-text-box {
        align-items: center;
    }

    .swiper-slide .about-first-line .comma {
        width: 25px;
    }

    .hero-main h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .swiper-slide .about-first-line {
        gap: 7px;
    }

    .hologram-main {
        flex-direction: column;
    }

    .ractangle-1 {
        width: 130px;
    }

    .hero-main h4 {
        font-size: 18px;
    }

    .hologram-main .holo-main-img {
        width: 770px;
        height: auto;
    }


    .view-more-btn {
        bottom: 4px;
    }

    .hero-main .hero-main-text {
        gap: 5px;
    }

    .contact-main-lable {
        flex-direction: column-reverse;
    }

    .left-contact-lable {
        align-items: center;
    }

    .swiper-slide .about-first-line h3 {
        color: var(--primery, #035AA6);
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .swiper-slide .about-first-line span {
        color: var(--primery, #035AA6);
        font-family: 'Outfit', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .swiper-slide p {
        color: var(--dark-gray, #7F7F7F);
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-transform: capitalize;
    }

    .swiper-slide .about-first-line img {
        width: 50px;
    }

    .swiper-slide {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        font-size: 24px;
        position: relative;
        box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.05);
        background-color: #FFF;
        font-weight: bold;
        transition: transform 0.3s ease;
        padding: 1rem;
        gap: 18px;
        text-align: left;
    }




}

@media only screen and (max-width: 600px) {

    .hero-main h1 {
        font-size: 30px;
        line-height: 35px;
    }

    .mission-vission {
        flex-direction: column;
    }

    .burger-btn {
        margin-left: 294px;
    }

    .navbar .main-logo {
        padding-left: 15px;
    }

    .ractangle-1 {
        left: -60px;
        width: 108px;
        top: -80px;
    }

    .features-main-box .featur-box img {
        width: 265px;
    }

    .hero-main .hero-main-text {
        gap: 5px;
    }

    .side-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-main {
        padding-bottom: 100px;
    }

    .hero-main .hero-main-text a {
        margin-top: 20px;
    }

    .features-main-box .featur-box {
        /* max-width: 352px; */
        min-width: 350px;
    }

    .hero-main .get-consult-home {
        padding: 10px 12px;
        text-decoration: none;
        max-width: 145px;
        align-items: center;
        color: #035AA6;
        background-color: #fff;
        /* border: 1px solid #D1B06B; */
        font-family: 'Outfit', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .services-child-left {
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;
    }

    .about-main-box .about-text-box img {
        width: 500px;
    }

    .hologram-main .holo-main-img {
        width: 521px;
        height: auto;
    }

    .view-more-btn {
        padding: 10px;
        font-size: 21px;
    }

    .services-boxes {
        flex-wrap: nowrap;
        overflow: auto;
        width: 100%;
        gap: 10px;
    }

    .service-box {
        padding: 10px;
        max-width: 100%;
        min-width: 225px;
    }

    .service-box h5 {

        color: var(--primery, #035AA6);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .service-box p {

        color: var(--dark-gray, #7F7F7F);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 150% */
    }

    .service-box a {

        color: var(--primery, #035AA6);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .contact-main-lable img {
        flex-basis: 50%;
        width: 470px;
        height: auto;
    }

    .left-contact-lable h3 {
        color: var(--primery, #035AA6);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }



    .left-contact-lable p {
        color: var(--dark-gray, #7F7F7F);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 150% */
    }

    footer {
        padding-top: 35px;
    }







    .contact-main-lable {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .left-contact-lable a {
        color: var(--white, #FFF);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 6px 23px;
    }

    .left-contact-lable {
        padding: 13px 25px;
    }

    .contact-main-form .contact-main-child {
        flex-wrap: wrap;
    }

    .box img {
        display: none;
    }










}

@media only screen and (max-width: 500px) {
    .burger-btn {
        margin-left: 174px;
    }

    .left-blue-box {
        padding: 20px 25px;
    }

    .left-blue-box h5 {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .contact-main-form a {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        display: flex;
        gap: 14px;
        align-items: center;
    }

    .contact-info-1 {
        gap: 15px;
    }

    .input {
        padding: 5px;
        font-size: 12px;
    }

    .message-box {
        font-size: 12px;
        padding: 5px;
    }

    .box {
        padding-top: 20px;
    }

    .checkbox-label {
        font-size: 9px;
    }

    .row-second h5 {
        font-size: 15px;
    }

    .label {
        display: block;
        margin-bottom: 5px;
        padding-top: 5px;
    }

    .contact-main-form {
        gap: 10px;
    }


    .left-blue-box {
        gap: 60px;
        margin: 15px;
    }

    .caraousal-box {
        padding-top: 0;
        padding-bottom: 36px;
    }

    .caraousal-box .submit-button {

        margin-left: 75px;
    }

    .contact-main-form .contact-main-child {
        padding: 0;
    }

    .product-sec-2 img {
        width: 350px;
        height: auto;
    }

    .main-lable h1 {
        font-size: 65px;
    }

    .product-sec-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        /* margin-top: 30px; */
        margin-bottom: 36px;
    }

    .product-sec-2 .product-details {
        /* padding-top: 20px; */
        padding: 10px;
    }






    .hero-side-img {
        display: block;
        width: 150px;
        padding-right: 15px;
    }

    .main-lable .inner-lable {
        padding-left: 15px;

    }

    .custom {
        display: none;
    }

    .about-main-box .about-text-box img {
        width: 400px;
    }

    .features-main-box .features-child-box {
        gap: 18px;
    }

    .features-main-box {
        padding-bottom: 0;
    }

    .quality-main-box .quality-box {
        max-width: 100%;
        max-height: 100%;
        min-width: 440px;
    }

    .hologram-main .holo-main-img {
        width: 410px;
        height: auto;
    }

    .product-main-box .product-head-text h2 {

        font-size: 34px;


    }

    .product-main-box .product-head-text h4 {
        font-size: 24px;


    }

    .hero-main .hero-main-text p {
        font-size: 13px;
    }

    .hero-main h1 {
        font-size: 24px;
        line-height: normal;
    }

    .hero-main h4 {
        font-size: 12px;
    }

    .white-line {
        width: 36px;
    }

    .hero-main p {
        font-size: 14px;

    }

    .hero-main {
        padding-bottom: 57px;
        padding-top: 55px;
        padding-left: 55px;
    }

    .hero-main .side-img-hero {
        width: 159px;
        height: auto;
    }

    .hero-main .get-consult-home {
        font-size: 13px;
        padding: 9px 13px;

        max-width: 110px;

    }

    .ractangle-1 {
        left: -39px;
        width: 75px;
        top: -54px;
    }

    .hero-main .hero-main-text a {
        margin-top: 8px;
    }

    .hero-main .hero-main-text p {
        padding-top: 0;
    }


    .hero-main .hero-main-text {
        gap: 4px;
    }

    .about-main-box .about-text-box {
        flex-direction: column;
        text-align: center;
        gap: 35px;
    }

    .about-main-box .about-text-box .left-about-text-box {
        justify-content: center;
        align-items: center;
        padding: 25px;
    }

    .contact-us-main .contact-box img {
        width: 422px;
    }

    .subscribe-box {
        width: 432px;
    }

    .contact-form button {
        width: auto;
        max-width: 130px;
        padding: 10px 19px;
        background-color: #035AA6;
        border: none;
        cursor: pointer;
        color: var(--white, #FFF);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .caraousal-box {
        padding-bottom: 120px;
    }

    .about-main-box .about-text-box h3 {
        font-size: 15px;
    }

    .navbar {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about-main-box .about-text-box h2 {

        font-size: 30px;
    }

    .about-main-box .about-text-box p {

        font-size: 16px;

    }

    .about-main-box {
        margin-bottom: 0;
    }

    .row {
        gap: 2px;
    }


}

@media only screen and (max-width: 410px) {

    .navbar .main-logo {
        width: 153px;
        height: 40px;

    }

    .contact-main-form h2 {
        display: none;
    }


    .play-btn {
        display: none;
    }

    .hero-main .side-img-hero {
        width: 150px;
        height: auto;
    }


    .hero-main h4 {
        font-size: 14px;
    }

    .hero-main p {
        font-size: 10px;


    }


    .white-line {
        width: 30px;
    }

    .hero-main .get-consult-home {
        padding: 5px 10px;
        width: 108px;
        font-size: 14px;

    }

    .hero-main .hero-main-text a {
        margin-top: 0;
    }

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }



    .burger-btn {
        margin-left: 110px;
    }

    .contact-us-main .contact-box img {
        width: 310px;
    }


    .contact-us-main .contact-box .contact-form input {
        padding: 10px 15px;

    }


    .contact-us-main .contact-box .contact-form textarea {
        padding: 10px 15px;
    }

    .subscribe-box {


        width: 345px;
    }

    .subscribe-box .subs-text h2 {
        font-size: 18px;
    }


    .subscribe-box .subs-text p {
        font-size: 14px;
    }




    .subscribe-box .input-box button {
        font-size: 14px;
    }


    .hero-main {
        padding-top: 10px;
        padding-left: 22px;
    }



    .about-main-box .about-text-box .left-about-text-box {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 45px;
        padding-left: 25px;
        padding-right: 25px;
    }



    .about-main-box .about-text-box {
        flex-direction: column;
        padding-left: 0;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }



    .about-main-box .about-text-box p {
        color: var(--dark-gray, #7F7F7F);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 15px;




    }

    .about-main-box .about-text-box h3 {
        color: #035AA6;
        font-family: 'Outfit', sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .about-main-box .about-text-box h2 {

        color: var(--primery, #035AA6);
        font-family: 'Outfit', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .about-main-box .about-text-box a {


        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .about-main-box .about-text-box .play-btn {
        position: absolute;
        bottom: -300px;




    }



    .about-main-box {
        padding-bottom: 56px;
    }



    .play-btn img {
        width: 51px;
    }


    .quality-main-box .quality-box .q-layer img {
        width: 39px;
    }

    .quality-main-box .quality-box .q-layer h4 {

        font-size: 22px;


    }

    .quality-main-box .quality-box p {
        color: var(--dark-gray, #7F7F7F);
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        /* 158.333% */
    }

    .quality-main-box .quality-box {
        max-width: 100%;
        min-width: 345px;
        max-height: 100%;
    }


    .product-main-box .product-head-text h4 {
        color: #035AA6;
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;


    }

    .product-main-box .product-head-text h2 {

        color: var(--primery, #035AA6);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .product-main-box .product-head-text {
        padding: 0 55px;



    }

    .product-main-box {
        gap: 15px;


    }

    .caraousal-box h5 {

        color: #035AA6;
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .middle-line-dot {
        width: 55px;
    }


    .caraousal-box h4 {
        color: var(--primery, #035AA6);
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .caraousal-box p {

        color: var(--dark-gray, #7F7F7F);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        /* padding: 5px 15px; */
    }

    .about-first-line img {
        width: 40px;
        height: 40px;
    }


    .swiper-slide .about-first-line h3 {
        color: var(--primery, #035AA6);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    .swiper-slide .about-first-line .comma {

        height: 23px;
        width: 27px;




    }

    .swiper-slide .about-first-line {
        gap: 10px;
    }

    .swiper-slide {
        padding: 20px 50px;


    }

    .swiper-slide .about-first-line span {
        color: var(--primery, #035AA6);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .swiper-slide .about-first-line .comma {


        right: 77px;

    }

    .caraousal-box {
        padding-bottom: 100px;
        padding-top: 40px;
    }

    .product-main-box {
        padding-top: 35px;
        padding-bottom: 50px;
    }

    .quality-main-box {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .main-lable h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .main-lable .white-line-2 {
        width: 48px;
        height: 10px;
    }



    .inner-lable img {


        width: 120px;
        height: 140px;

    }

    .features-main-box {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    footer .middle-footer {
        gap: 40px;
        padding: 20px;
    }

    footer .bottom-footer p {
        font-size: 20px;
    }

    footer .middle-footer li {
        font-size: 20px;
    }


    footer .middle-footer li a {
        font-size: 20px;
    }

    .services-child-left a {
        background-color: #035AA6;
        padding: 10px 10px;
        text-decoration: none;
        color: var(--white, #FFF);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 158px;
    }

    .mission-vission h4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: var(--secondary, #010A1A);
        font-family: 'Outfit', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .mission-vission p {
        color: var(--darkgray, #7F7F7F);
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .mission-vission {
        display: flex;
        flex-direction: row;
        gap: 34px;
        margin-bottom: 35px;
    }

    .main-lable {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 35px;
    }

    .product-main .product img {
        width: 77px;
    }

    .product-main .product {
        padding: 10px;
    }

    .product-main .product-sec-1 {
        gap: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .product-main .product {
        gap: 5px;
    }


    .product-main h4 {
        font-size: 20px;
    }

    .product-main p {
        color: var(--dark-gray, #7F7F7F);
        font-family: 'Outfit', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
    }

    .product-main a {
        color: var(--primery, #035AA6);
        text-align: center;
        font-family: 'Outfit', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        /* margin-top: 12px; */
    }





}


@media only screen and (max-width: 375px) {
    .about-main-box .about-text-box .play-btn {
        position: absolute;
        bottom: -480px;
    }

    .about-main-box .about-text-box img {
        width: 370px;
    }

    .product-boxes .product-box {

        max-width: 340px;
    }

    .hero-main {
        padding-top: 52px;
        padding-left: 56px;
        padding-bottom: 30px;
    }

    .hero-side-img {
        display: block;
        width: 115px;
        padding-right: 15px;
    }


    .ractangle-1 {
        left: -39px;
        width: 65px;
        top: -42px;
    }

    .left-blue-box .eclips {
        display: none;
    }




    .services-main {
        margin-bottom: 0;
    }

    .contact-main-lable img {
        flex-basis: 50%;
        width: 370px;
        height: auto;
    }

    .hologram-main .holo-main-img {
        width: 370px;
        height: auto;
    }

    .product-boxes .product-box img {
        width: 340px;
    }

    .features-main-box .featur-box {
        max-width: 340px;
    }

    .features-main-box .featur-box img {
        width: 310px;
    }

    .swiper-slide .about-first-line .comma {
        right: 51px;
    }




}